[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RcmdrPlugin.coin"]
	path = RcmdrPlugin.coin
	url = https://github.com/cran/RcmdrPlugin.coin
	shallow = true
	registered = true
[submodule "RcmdrPlugin.EBM"]
	path = RcmdrPlugin.EBM
	url = https://github.com/cran/RcmdrPlugin.EBM
	shallow = true
	registered = true
[submodule "RcmdrPlugin.ROC"]
	path = RcmdrPlugin.ROC
	url = https://github.com/cran/RcmdrPlugin.ROC
	shallow = true
	registered = true
